[submodule "squealer-app"]
	path = squealer-app
	url = git@github.com:jantizio/squealer-app.git
[submodule "squealer-backend"]
	path = squealer-backend
	url = git@github.com:bugboy-20/squealer-backend.git
[submodule "squealer-SMM"]
	path = squealer-SMM
	url = git@github.com:bugboy-20/squealer-SMM.git
[submodule "squealer-moderator"]
	path = squealer-moderator
	url = git@github.com:jantizio/squealer-moderator.git
